<div class="clima">
    <div class="clima2">
        <h1> Seleccione el clima que desea probar</h1>
        <h2> Clima actual: </h2>
        <h3> {{climaActual}} </h3>
        <button mat-raised-button color="primary" (click) = "sol()"> Soleado </button>
        <button mat-raised-button color="primary" (click) = "nublado()"> Nublado </button>
        <button mat-raised-button color="primary" (click) = "lluvia()"> Lluvia </button>
        <button mat-raised-button color="primary" (click) = "neblina()"> Neblina </button>
        <button mat-raised-button color="primary" (click) = "nevado()"> Nevado </button>
        <button mat-raised-button color="primary" (click) = "tormentaElectrica()"> Tormenta Electrica </button>
    </div>
</div>


