<div class="container">
    <div class="perfil">
        <div>
            Codigo: {{codigoUsuario}}
        </div>
        <div class="campo">
            Rol: {{ roltoTexto(rolUsuario) }}
        </div>
        <div class="campo">
            Nombre: {{nombre}}
        </div>
        <div class="campo">
            Apellido: {{apellido}}
        </div>
        <div class="campo">
            DNI: {{dni}}
        </div>
        <div class="campo">
            Email: {{correo}}
        </div>
        <div class="campo">
            Aeropuerto: {{aeropuerto}}
        </div>
    </div>
</div>


